<h1 mat-dialog-title>{{tituloAccion}} Propiedad</h1>
<div mat-dialog-content>
  <form [formGroup]="formPropiedad">
    <mat-grid-list cols="1" rowHeight="90px">
      
      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font-size: 14px; width: 100%;">
          <mat-label>Tipo de Propiedad</mat-label>
          <input matInput formControlName='tipoDePropiedad' autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font-size: 14px; width: 100%;">
          <mat-label>Tipo de Operación</mat-label>
          <input matInput formControlName='tipoDeOperacion' autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font-size: 14px; width: 100%;">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName='descripcion' autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font-size: 14px; width: 100%;">
          <mat-label>Ambientes</mat-label>
          <input matInput formControlName='ambientes' autocomplete="off" type="number">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font-size: 14px; width: 100%;">
          <mat-label>M2</mat-label>
          <input matInput formControlName='m2' autocomplete="off" type="number">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font-size: 14px; width: 100%;">
          <mat-label>Antiguedad</mat-label>
          <input matInput formControlName='antiguedad' autocomplete="off" type="number">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font-size: 14px; width: 100%;">
          <mat-label>Coordenadas de Ubicación</mat-label>
          <input matInput formControlName='coordenadasDeUbicacion' autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font-size: 14px; width: 100%;">
          <mat-label>Lista de Imágenes</mat-label>
          <input matInput formControlName='listaDeImagenes' autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary"
    (click)="addEditPropiedad()"
    [disabled]="formPropiedad.invalid"
    >{{botonAccion}}
  </button>
</div>
