<div style="width:90%;margin:40px auto;">
  <h1>Lista de Propiedades</h1>
  <button mat-raised-button color="primary" (click)="dialogoNuevaPropiedad()">Nueva Propiedad</button>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. casa" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="tipoDePropiedad">
        <th mat-header-cell *matHeaderCellDef> Tipo de Propiedad </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoDePropiedad}} </td>
      </ng-container>
  
      <!-- Type of Operation Column -->
      <ng-container matColumnDef="tipoDeOperacion">
        <th mat-header-cell *matHeaderCellDef> Tipo de Operación </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoDeOperacion}} </td>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>
  
      <!-- Rooms Column -->
      <ng-container matColumnDef="ambientes">
        <th mat-header-cell *matHeaderCellDef> Ambientes </th>
        <td mat-cell *matCellDef="let element"> {{element.ambientes}} </td>
      </ng-container>
  
      <!-- Square Meters Column -->
      <ng-container matColumnDef="m2">
        <th mat-header-cell *matHeaderCellDef> M2 </th>
        <td mat-cell *matCellDef="let element"> {{element.m2}} </td>
      </ng-container>
  
      <!-- Age Column -->
      <ng-container matColumnDef="antiguedad">
        <th mat-header-cell *matHeaderCellDef> Antiguedad </th>
        <td mat-cell *matCellDef="let element"> {{element.antiguedad}} </td>
      </ng-container>
  
      <!-- Location Coordinates Column -->
      <ng-container matColumnDef="coordenadasDeUbicacion">
        <th mat-header-cell *matHeaderCellDef> Coordenadas de Ubicación </th>
        <td mat-cell *matCellDef="let element"> {{element.coordenadasDeUbicacion}} </td>
      </ng-container>

        <!-- Location Coordinates Column -->
        <ng-container matColumnDef="listaDeImagenes">
          <th mat-header-cell *matHeaderCellDef> Lista de Imagenes </th>
          <td mat-cell *matCellDef="let element"> {{element.listaDeImagenes}} </td>
        </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 80px;"> </th>
        <td mat-cell *matCellDef="let element" class="button-cell">
          <button mat-icon-button color="primary" (click)="dialogoEditarPropiedad(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="dialogoEliminarPropiedad(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of properties">
    </mat-paginator>
  </div>
</div>
